<div [@routerTransition]>
    <app-page-header [heading]= "'Formulaire'" [icon]="'fa-edit'"></app-page-header>

    <div class="row">
        <div class="col-lg-6">
            <form novalidate [formGroup]="myform" (ngSubmit)="onSubmit()">
                <div class="form-group" [ngClass]="{
                                   'has-danger': firstName.invalid && (firstName.dirty || firstName.touched),
                                   'has-success': firstName.valid && (firstName.dirty || firstName.touched)
                                 }">
                    <label>Prénom</label>
                    <input type="text" class="form-control" formControlName="firstName" [ngClass]="{ 'is-invalid': firstName.invalid && (firstName.dirty || firstName.touched) }">


                    <div *ngIf="firstName.touched && firstName.errors?.required" class="invalid-feedback">
                        <div>Prénom incorrect!</div>
                    </div>


                    <!--
                                <pre>Valid? {{ myform.controls.name.controls.firstName.valid }}</pre>
                                   <pre>Dirty? {{ myform.controls.name.controls.firstName.dirty }}</pre>
                            -->
                </div>

                <div class="form-group" [ngClass]="{
                                          'has-danger': lastName.invalid && (lastName.dirty || lastName.touched),
                                'has-success': lastName.valid && (lastName.dirty || lastName.touched)
                            }">
                    <label>Nom</label>
                    <input type="text" class="form-control" formControlName="lastName" [ngClass]="{ 'is-invalid': lastName.invalid && (lastName.dirty || lastName.touched) }">

                    <div *ngIf="lastName.errors?.required" class="invalid-feedback">
                        <div>Nom incorrect!</div>
                    </div>
                </div>


                <div class="form-group" [ngClass]="{
                    'has-danger': dateN.invalid && (dateN.dirty || dateN.touched),
                    'has-success': dateN.valid && (dateN.dirty || dateN.touched)
                }">
        <label>Date & lieu de naissance :</label>
        <input type="text" placeholder="" class="form-control" formControlName="dateN" [ngClass]="{ 'is-invalid': dateN.invalid && (dateN.dirty || dateN.touched) }">
        <div *ngIf="dateN.errors?.required" class="invalid-feedback">
            <div>Date & lieu de naissance invalid</div>
        </div>
    </div>


                <div class="form-group" [ngClass]="{
                                'has-danger': CIN.invalid && (CIN.dirty || CIN.touched),
                                'has-success': CIN.valid && (CIN.dirty || CIN.touched)
                            }">
                    <label>N°CIN</label>
                    <input type="text" class="form-control" formControlName="CIN" [ngClass]="{ 'is-invalid': CIN.invalid && (CIN.dirty || CIN.touched) }">
                    <div *ngIf="CIN.errors?.minlength || CIN.errors?.maxlength" class="invalid-feedback">
                        <div>CIN doit être sur 8 chiffres</div>
                    </div>
                    <div *ngIf="CIN.errors?.pattern" class="invalid-feedback">
                        <div>CIN doit être sur 8 chiffres</div>
                    </div>
                </div>



                <div class="form-group" [ngClass]="{
                    'has-danger': delivre.invalid && (delivre.dirty || delivre.touched),
                    'has-success': delivre.valid && (delivre.dirty || delivre.touched)
                  }">
                    <label>Délivrée le :</label>
                    <input type="date" placeholder="00/00/0000" class="form-control" formControlName="delivre" [ngClass]="{ 'is-invalid': delivre.invalid && (delivre.dirty || delivre.touched) }">


                    <div *ngIf="delivre.touched && delivre.errors?.required" class="invalid-feedback">
                        <div>Date incorrect!</div>
                    </div>
                </div>


                <div class="form-group" [ngClass]="{
                    'has-danger': adresse.invalid && (adresse.dirty || adresse.touched),
                    'has-success': adresse.valid && (adresse.dirty || adresse.touched)
                  }">
                    <label>Adresse :</label>
                    <input type="text" class="form-control" formControlName="adresse" [ngClass]="{ 'is-invalid': adresse.invalid && (adresse.dirty || adresse.touched) }">


                    <div *ngIf="adresse.touched && adresse.errors?.required" class="invalid-feedback">
                        <div>Adresse incorrect!</div>
                    </div>
                </div>




                <div class="form-group" [ngClass]="{
                    'has-danger': ville.invalid && (ville.dirty || ville.touched),
                    'has-success': ville.valid && (ville.dirty || ville.touched)
                  }">
                    <label>Ville :</label>
                    <input type="text" class="form-control" formControlName="ville" [ngClass]="{ 'is-invalid': ville.invalid && (ville.dirty || ville.touched) }">


                    <div *ngIf="ville.touched && ville.errors?.required" class="invalid-feedback">
                        <div>Ville incorrect!</div>
                    </div>
                </div>



                <div class="form-group" [ngClass]="{
                            'has-danger': codepostal.invalid && (codepostal.dirty || codepostal.touched),
                            'has-success': codepostal.valid && (codepostal.dirty || codepostal.touched)
                        }">
                    <label>Code postal</label>
                    <input type="text" class="form-control" formControlName="codepostal" [ngClass]="{ 'is-invalid': codepostal.invalid && (codepostal.dirty || codepostal.touched) }">
                    <div *ngIf="codepostal.errors?.required" class="invalid-feedback">
                        <div>Code postal incorrect!</div>
                    </div>
                    <div *ngIf="codepostal.errors?.pattern" class="invalid-feedback">
                        <div>Code doit être sur 4 chiffres</div>
                    </div>
                </div>



                <div class="form-group" [ngClass]="{
                        'has-danger': Tel.invalid && (Tel.dirty || Tel.touched),
                        'has-success': Tel.valid && (Tel.dirty || Tel.touched)
                         }">
                    <label>Tel mobile</label>
                    <input type="text" class="form-control" formControlName="Tel" [ngClass]="{ 'is-invalid': Tel.invalid && (Tel.dirty || Tel.touched) }">
                    <div class="form-control-feedback" *ngIf="Tel.errors && (Tel.dirty || Tel.touched)">
                    </div>
                    <div *ngIf="Tel.errors?.required" class="invalid-feedback">
                        <div>Tel incorrect!</div>
                    </div>
                    
                    <div *ngIf="Tel.errors?.pattern" class="invalid-feedback">
                        <div>Tel incorrect!</div>
                    </div>
                </div>

                <div class="form-group" [ngClass]="{
                    'has-danger': Fixe.invalid && (Fixe.dirty || Fixe.touched),
                    'has-success': Fixe.valid && (Fixe.dirty || Fixe.touched)
                     }">
                    <label>Fixe</label>
                    <input type="text" class="form-control" formControlName="Fixe" [ngClass]="{ 'is-invalid': Fixe.invalid && (Fixe.dirty || Fixe.touched) }">
                    <div class="form-control-feedback" *ngIf="Fixe.errors && (Fixe.dirty || Fixe.touched)">
                    </div>
                    <div *ngIf="Fixe.errors?.required" class="invalid-feedback">
                        <div>Fixe incorrect!</div>
                    </div>
                    <div *ngIf="Fixe.errors?.pattern" class="invalid-feedback">
                        <div>Fixe incorrect!</div>
                    </div>
                </div>



                <div class="form-group" [ngClass]="{
                                    'has-danger': email.invalid && (email.dirty || email.touched),
                                    'has-success': email.valid && (email.dirty || email.touched)
                                    }">
                    <label>Email</label>
                    <input type="text" class="form-control" formControlName="email" [ngClass]="{ 'is-invalid': email.invalid && (email.dirty || email.touched) }">
                    <div class="form-control-feedback" *ngIf="email.errors && (email.dirty || email.touched)">
                    </div>

                    <div *ngIf="email.errors?.required" class="invalid-feedback">
                        <div>Email incorrect!</div>
                    </div>
                </div>



                <div class="form-group" [ngClass]="{
                    'has-danger': institut.invalid && (institut.dirty || institut.touched),
                    'has-success': institut.valid && (institut.dirty || institut.touched)
                    }">
                    <label>Institut</label>
                    <input type="text" class="form-control" formControlName="institut" [ngClass]="{ 'is-invalid': institut.invalid && (institut.dirty || institut.touched) }">
                    <div class="form-control-feedback" *ngIf="institut.errors && (institut.dirty || institut.touched)">
                    </div>

                    <div *ngIf="institut.errors?.required" class="invalid-feedback">
                        <div>Institut incorrect!</div>
                    </div>
                </div>



                <div class="form-group" [ngClass]="{
                    'has-danger': skype.invalid && (skype.dirty || skype.touched),
                    'has-success': skype.valid && (skype.dirty || skype.touched)
                    }">
                    <label>Skype-id :</label>
                    <input type="text" class="form-control" formControlName="skype" [ngClass]="{ 'is-invalid': skype.invalid && (skype.dirty || skype.touched) }">
                    <div class="form-control-feedback" *ngIf="skype.errors && (skype.dirty || skype.touched)">
                    </div>

                    <div *ngIf="skype.errors?.required" class="invalid-feedback">
                        <div>Skype-id incorrect!</div>
                    </div>
                </div>



                <div class="form-group" [ngClass]="{
                    'has-danger': adresseMac.invalid && (adresseMac.dirty || adresseMac.touched),
                    'has-success': adresseMac.valid && (adresseMac.dirty || adresseMac.touched)
                    }">
                    <label>AdresseMac :</label>
                    <input type="text" class="form-control" formControlName="adresseMac" [ngClass]="{ 'is-invalid': adresseMac.invalid && (adresseMac.dirty || adresseMac.touched) }">
                    <div class="form-control-feedback" *ngIf="adresseMac.errors && (adresseMac.dirty || adresseMac.touched)">
                    </div>

                    <div *ngIf="adresseMac.errors?.required" class="invalid-feedback">
                        <div>AdresseMac incorrect!</div>
                    </div>
                </div>

                <div class="form-group" [ngClass]="{
                    'has-danger': departement.invalid && (departement.dirty || departement.touched),
                    'has-success': departement.valid && (departement.dirty || departement.touched)
                    }">
                    <label>Departement :</label>
                    <input type="text" class="form-control" formControlName="departement" [ngClass]="{ 'is-invalid': departement.invalid && (departement.dirty || departement.touched) }">
                    <div class="form-control-feedback" *ngIf="departement.errors && (departement.dirty || departement.touched)">
                    </div>

                    <div *ngIf="departement.errors?.required" class="invalid-feedback">
                        <div>Departement incorrect!</div>
                    </div>
                </div>

                <div class="form-group" [ngClass]="{
                    'has-danger': datedeb.invalid && (datedeb.dirty || datedeb.touched),
                    'has-success': datedeb.valid && (datedeb.dirty || datedeb.touched)
                  }">
                    <label>Date de début du stage :</label>
                    <input type="date" placeholder="00/00/0000" class="form-control" formControlName="datedeb" [ngClass]="{ 'is-invalid': datedeb.invalid && (datedeb.dirty || datedeb.touched) }">


                    <div *ngIf="datedeb.touched && datedeb.errors?.required" class="invalid-feedback">
                        <div>Date incorrect!</div>
                    </div>
                </div>
                
                <div class="form-group" [ngClass]="{
                    'has-danger': datefin.invalid && (datefin.dirty || datefin.touched),
                    'has-success': datefin.valid && (datefin.dirty || datefin.touched)
                  }">
                    <label>Date de fin du stage :</label>
                    <input type="date" placeholder="00/00/0000" class="form-control" formControlName="datefin" [ngClass]="{ 'is-invalid': datefin.invalid && (datefin.dirty || datefin.touched) }">


                    <div *ngIf="datefin.touched && datefin.errors?.required" class="invalid-feedback">
                        <div>Date incorrect!</div>
                    </div>
                </div>

                <div class="form-group" [ngClass]="{
                    'has-danger': projet.invalid && (projet.dirty || projet.touched),
                    'has-success': projet.valid && (projet.dirty || projet.touched)
                    }">
                    <label>Projet ou tâches à accomplir</label>
                    <input type="text" class="form-control" formControlName="projet" [ngClass]="{ 'is-invalid': projet.invalid && (projet.dirty || projet.touched) }">
                    <div class="form-control-feedback" *ngIf="projet.errors && (projet.dirty || projet.touched)">
                    </div>

                    <div *ngIf="projet.errors?.required" class="invalid-feedback">
                        <div>Projet incorrect!</div>
                    </div>
                </div>

                
                <div class="form-group" [ngClass]="{
                    'has-danger': encadreur.invalid && (encadreur.dirty || encadreur.touched),
                    'has-success': encadreur.valid && (encadreur.dirty || encadreur.touched)
                    }">
                    <label>Encadreur</label>
                    <input type="text" class="form-control" formControlName="encadreur" [ngClass]="{ 'is-invalid': encadreur.invalid && (encadreur.dirty || encadreur.touched) }">
                    <div class="form-control-feedback" *ngIf="encadreur.errors && (encadreur.dirty || encadreur.touched)">
                    </div>

                    <div *ngIf="encadreur.errors?.required" class="invalid-feedback">
                        <div>Encadreur incorrect!</div>
                    </div>
                </div>


                <div class="form-group">
                    <button type="submit" class="btn btn-primary" [disabled]="!myform.valid">Submit</button>

                </div>

            </form>
            <br>
        </div>
    </div>
    <!-- /.row -->
</div>