<div [@routerTransition]>
    <app-page-header [heading]="'Tables'" [icon]="'fa-table'"></app-page-header>
    <div class="row">
        <div class="col col-xl-12 col-lg-12">
            <div class="card mb-3">

                <div class="card-header">
                    Liste des stagiaires
                </div>
                <div class="card-body table-responsive">
                    <table class="table">

                        <tr>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Date & lieu de naissance</th>
                            <th>N°CIN</th>
                            <th>Délivrée le</th>
                            <th>Adresse</th>
                            <th>Ville</th>
                            <th>Code postal</th>
                            <th>Tel mobile</th>
                            <th>Fixe</th>
                            <th>Email</th>
                            <th>Institut </th>
                            <th>Skype-id</th>
                            <th>Adresse MAC LAN</th>
                            <th>Action</th>
                        </tr>

                        <tbody>
                            <tr *ngFor="let stagiaire of stagiaires">

                                <td>{{stagiaire.firstName}}</td>
                                <td>{{stagiaire.lastName}}</td>
                                <td>{{stagiaire.dateN}}</td>
                                <td>{{stagiaire.CIN}}</td>
                                <td>{{stagiaire.delivre}}</td>
                                <td>{{stagiaire.adresse}}</td>
                                <td>{{stagiaire.ville}}</td>
                                <td>{{stagiaire.codepostal}}</td>
                                <td>{{stagiaire.Tel}}</td>
                                <td>{{stagiaire.Fixe}}</td>
                                <td>{{stagiaire.email}}</td>
                                <td>{{stagiaire.institut}}</td>
                                <td>{{stagiaire.skype}}</td>
                                <td>{{stagiaire.adresseMac}}</td>
                                <td>
                                    <button class="btn btn-info" (click)="action(stagiaire.CIN)">
                                        <span class="glyphicon glyphicon-share"></span> Modify
                                    </button>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <button class="btn btn" (click)="exportToExcel()">
        <span class="glyphicon glyphicon-share"></span> Export to Excel
    </button>



</div>