<div [@routerTransition]>
    <h2 class="text-muted">Menu
        <small>Proxym-IT</small>
    </h2>
    <hr>
    <div class="row">
        <div class="col-md-12">
            <ngb-carousel>
                <ng-template ngbSlide *ngFor="let slider of sliders">
                    <img class="img-fluid mx-auto d-block" [src]="slider.imagePath" width="100%">
                    <div class="carousel-caption">

                    </div>
                </ng-template>
            </ngb-carousel>
        </div>
    </div>
    <hr>
    <div class="row">


        <div class="col-md-6">
            <app-stat  [routerLink]="['/tables']" [bgClass]="'warning'" [icon]="'fa-tasks'" [label]="'Liste des stagiaires!'"></app-stat>
        </div>

<br>

        <div class="col-md-6">
            <app-stat  [routerLink]="['/forms']"[bgClass]="'danger'" [icon]="'fa-support'" [label]="'Ajout d un stagiaire!'"></app-stat>
        </div>
    </div>
  

</div>